@model IEnumerable<SuporteSS2015._1.Models.AgendaSemana>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.Action("Agenda da semana", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataDoPlantao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeAnalista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnalistaApoio1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnalistaApoio2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoneDoAnalista)
        </th>
        <th></th>
    </tr>
    @foreach(var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataDoPlantao)
            </td>
            <td>
                @Html.DisplayFor(modeItem => item.NomeAnalista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalistaApoio1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalistaApoio2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoneDoAnalista)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
