@model SuporteSS2015._1.Models.Postagem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Postagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPostagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPostagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
