@model IEnumerable<SuporteSS2015._1.Models.topico_forum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro de Topicos</h2>
<div class="form-group">
    @Html.ActionLink("Cadastro", "Create", null, null, new { @class = "btn btn-primary" })
</div>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th></th>
    </tr>
    @*@foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => item.nome)</td>
            <td>@Html.DisplayFor(ModelItem => item.descricao)</td>
            <td>
                <span class="badge">@item.postagem.Count</span>@Html.ActionLink("Visualizar Fórum", "Index", "Postagem", new { id_topico_forum = item.id_topico_forum }, null)
            </td>
        </tr>
    }*@
</table>