@model IEnumerable<SuporteSS2015._1.Models.Resposta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <h1 class="align-center">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="">
            @ViewBag.PostTopico
        </span>
    </h1>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>
                        <span class="badge">
                            @Html.DisplayFor(itemModel => item.UsuarioLogado)
                        </span>
                        @Html.Raw(item.Postagem.Mensagem)
                        Publicado em: @Html.DisplayFor(modelItem => item.DataResposta)
                    </b>
                </div>
                <label>@Html.Raw(item.Respostas)</label>
                <br />
                <div class="panel-body">
                    @Html.ActionLink("Respostas", "Create", "Respostas", new { id = item.Postagem.Id }, null)
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Voltar", "Index", "Postagem", null, new { @class = "btn btn-primery" })
</div>
