@model IEnumerable<SuporteSS2015._1.Models.Resposta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <h1 class="align-center">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

        @ViewBag.Topico<span class="badge">Onde vai ficar a pegunta@*@Html.DisplayFor(modelItem => Postagem.Topico)*@</span>
    </h1>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>
                        <span class="glyphicon glyphicon-user" aria-hidden="true">Usuario</span>
                        @Html.DisplayFor(modelItem => item.DataResposta)
                    </b>
                </div>
                <label>@Html.Raw(item.Respostas)</label>
                <br />
                <br/>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                <div class="panel-body">
                    @*<span class="badge">Postagem.Resposta.Count</span>*@
                    @Html.ActionLink("Respostas", "Create", "Respostas", new { id = item.Postagem.Id }, null)
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Voltar", "Index", null, null, new { @class = "btn btn-primery" })
</div>
