@model IEnumerable<SuporteSS2015._1.Areas.Administrativo.Models.Analistas>

@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pesquisa</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>Digite o nome</p>
            <input type="text" name="texto" id="texto" placeholder="Digite a pesquisa" />
            <div><button type="submit">Filtrar</button></div>
        }
    </div>
    <table>
        <tr>
            <td>Id</td>
            <td>Nome</td>
        </tr>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        @*<td>@item.I</td>*@
                        <td>@item.NomeAnalista</td>
                    </tr>
                }
            }
        }
    </table>
</body>
</html>
































@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaUsuario</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoneAnalista)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAnalista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoneAnalista)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>*@
